<div style="outline: 2px solid lime">
@model Note

@if(@Model.isBullet == true){
<li class="content align_@Model.AlignPosition indent_@Model.indentLevel" contenteditable="true" id="@Model.NoteId">@Model.Content</li>
} else {
<div class="content align_@Model.AlignPosition indent_@Model.indentLevel" contenteditable="true" id="@Model.NoteId">@Model.Content</div>
}
</div>