@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">

        <button onclick="openAll()">OpenAll</button>

    <h1 id="projectName">Master List</h1>

    <div class="words">
        <partial name="WordPartial"/>
    </div>

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        <input class="form-control" type="text" name="Title" id="Title">

        <button class="btn">Submit</button>
    </form>

    <partial name="SideNavPartial"/>

    </div> <!--End of Main-->

    </div>

</body>
</html>