@model List<Word>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div id="main">

    <h1 class="title">Master List</h1>

    @foreach(var word in Model)
    {
        <button id="@word.Title" class="collapsible">@word.Title</button>
        <div class="content">
            <button class="collapsible">Definition</button>
            <div class="content">
                <p>@word.Definition</p>
            </div>
            
            <button class="collapsible">Example</button>
            <div class="content">
                <p>@word.Example</p>
            </div>
        </div>
    }

    <form asp-action="AddWord" controller="Dashboard" method="POST">
        <label for="Title">Title</label><br>
        @* <span asp-validation-for="Title" class="error"></span> *@
        <input class="form-control" type="text" name="Title" id="Title">

        <label for="Definition">Definition</label><br>
        <textarea class="form-control" name="Definition" id="Definition" cols="20" rows="10"></textarea>
        @* <input class="form-control" type="text" name="Definition" id="Definition"> *@

        <label for="Example">Example</label><br>
        <input class="form-control" type="text" name="Example" id="Example">

        <button>Submit</button>
    </form>

    <partial name="SideNavPartial"/>

    </div> <!--End of Main-->

    </div>

</body>
</html>