@model List<Word>    
        
    @* SideNav Toggle Div *@
    <div onmouseenter="toggleNavOpen()" style="width: 5vw; height: 100vh; position: absolute; left: 0; top: 0; position: fixed;"></div>

    <h1 class="title">Master List</h1>

    <div id="mySidenav" class="sidenav" onmouseleave="toggleNavClosed()">

        <a onclick="lockNav()" id="navToggleButton"><i class="fas fa-lock-open"></i></a>
        <h2>Index</h2>
        <input type="text" id="searchBar" onClick="this.select();" onkeyup="searchFunction()" placeholder="Search.." class="searchbar">

        <div id="sideNavContents">

        @foreach(var word in Model){
            <a href="#@word.Title">@word.Title</a>
        }
        </div>
    </div>