@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Master List</h1>

    <partial name="LoginPartial" />
    <partial name="RegistrationPartial" />

</div>
