@model LoginUser
<h2>Login</h2>
<div id="loginbox">
<form asp-action="Login" asp-controller="Home" method="post">
    <div class="input-container">
        <span asp-validation-for="LoginEmail"></span>
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" asp-for="LoginEmail" placeholder="Email">
    </div>
    <div class="input-container">
        <span asp-validation-for="LoginPassword"></span>
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" asp-for="LoginPassword" placeholder="Password">
    </div>
    <button class="btn">Login</button>
    <div class="registration">
        Don't have an account? <a href="/Register">Register here</a>
    </div>
</form>
</div>